<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sol4.cloud.DAO.NoticeDAO">

	<insert id="writeNotice" parameterType="com.sol4.cloud.Domain.Cloud">
		INSERT INTO sc_notice VALUES (notice_seq.nextval, #{no_class}, #{no_title}, #{no_content}, #{no_file}, #{no_writer}, sysdate, 1)
	</insert>
	
	<delete id="deleteNotice" parameterType="com.sol4.cloud.Domain.Cloud">
		DELETE FROM sc_notice WHERE no_writer = #{no_writer} AND no_num = #{no_num}
	</delete>
	
	<update id="updateViewCnt" parameterType="com.sol4.cloud.Domain.Cloud">
		UPDATE sc_notice
		SET no_viewcnt = no_viewcnt + 1 
		WHERE no_num = #{no_num}
	</update>
	
	<update id="updateNotice" parameterType="com.sol4.cloud.Domain.Cloud">
		UPDATE sc_notice
		SET no_title = #{no_title},
			no_content = #{no_content},
			no_file = #{no_file},
			no_date = sysdate 
		WHERE no_num = #{no_num}
	</update>
	
	<select id="getNotice" parameterType="com.sol4.cloud.Domain.Cloud" resultType="com.sol4.cloud.Domain.Cloud">
		SELECT * FROM sc_notice WHERE no_num = #{no_num}
	</select>
	
	<select id="checkFile" parameterType="com.sol4.cloud.Domain.Cloud" resultType="java.lang.Integer">
		SELECT COUNT(f_name) FROM sc_board_${no_writer} WHERE f_name LIKE '%${no_file}%' AND f_share = 1
	</select>
	
	<select id="getShareFile" parameterType="com.sol4.cloud.Domain.Cloud" resultType="com.sol4.cloud.Domain.Cloud">
		SELECT f_name FROM sc_board_${m_id} WHERE f_share = 1
	</select>
	
	<select id="checkNotice" resultType="java.lang.Integer">
		SELECT COUNT(no_num) FROM sc_notice
	</select>
	
	<!-- 게시글 전체 목록 조회 및 검색조회까지 -->
	<select id="listAllNotice" resultType="com.sol4.cloud.Domain.Cloud">
	    <!-- 목록 조회 및 페이징 전체 쿼리 -->
	    <include refid="pagingHeader"></include>
	        SELECT * 
	        FROM sc_notice 
	        <include refid="search"></include>
	        ORDER BY no_num DESC 
	    <include refid="pagingFooter"></include>    
	</select>
	 
	<!-- 검색 조건 sql -->
	<sql id="search">
	    <choose>
	        <!-- 검색옵션이 전체 검색일 경우 -->
	        <when test="searchOption == 'all'">
	            WHERE (no_writer like '%'||#{keyword}||'%' 
	            OR no_content like '%'||#{keyword}||'%' 
	            OR no_title like '%'||#{keyword}||'%')
	        </when>
	        <!-- 전체 검색이 아닐 경우 -->
	        <otherwise>
	            WHERE ${searchOption} like '%'||#{keyword}||'%'
	        </otherwise>
	    </choose>
	</sql>
	 
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
	    SELECT * FROM (
	        SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
	        ) A
	    ) WHERE rn BETWEEN #{start} AND #{end}
	</sql>

</mapper>